{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #333; border-radius: 5px;" align="left">
        <br>
        <!-- message HTML content -->
        <p>{% blocktrans %}Hi {{full_name}},{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with course_title=course_title platform_name=platform_name %} Welcome to <b>{{course_title}} with a statement of accomplishment</b>, available through {{platform_name}}.{% endblocktrans %}</p>
        <p>{% blocktrans with platform_name=platform_name %}We have received your enrollment, and will be processing the enrollment charge on your credit card within 48 hours. You will see the charge appear on your credit card statement, with a company name of {{platform_name}}. {% endblocktrans %}</p>
        <p>{% blocktrans with dashboard_url=dashboard_url course_title=course_title platform_name=platform_name %}You can access  <b>{{course_title}} with a statement of accomplishment</b> through your learner dashboard: {{dashboard_url}} on {{platform_name}}.{% endblocktrans %} </p>
        <br>
        <!-- /message HTML content -->
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #002D40; background-color: #f3f3f3;" align="left">
        <!-- footer content -->
        <br>
        <p>{% blocktrans with course_title=course_title platform_name=platform_name %}You are receiving this email because you have purchased <b>{{course_title}} with a statement of accomplishment</b> on {{platform_name}}.{% endblocktrans %}</p>
        <br>
        <!-- /footer content -->
    </td>
</tr>
<!--/100% wrapper-->
<br>
<br>
<!-- /Message Body -->
{% endblock body %}
