{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #333; border-radius: 5px;" align="left">
        <br>
        <!--message HTML content -->
        <p>{% blocktrans %}Hi {{full_name}},{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with course_name=course_name order_number=order_number %}We have processed your refund request for <b>{{course_name}}</b>. The reimbursement will appear on your credit card under order number {{order_number}}. To view your order receipt, visit the following link:{% endblocktrans %}</p>
        <p>{{order_url}}</p>
        <br>
        <p>{% blocktrans %}We are sorry to see you go. If you would like to explore other courses that are available on UC San Diego Online, please visit {{explore_courses_url}}{% endblocktrans %}</p>
        <!--/message HTML content -->
        <br><br>
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #002D40; background-color: #f3f3f3;" align="left">
        <!--footer content -->
        <br>
        <p>{% blocktrans with course_name=course_name platform_name=platform_name %}You are receiving this email because your refund has been processed of course <b>{{course_name}}</b> on {{platform_name}}.{% endblocktrans %}</p>
        <br>
        <!--/footer content -->
    </td>
</tr>
<!--/100% wrapper-->
<br>
<!--/Message Body -->
{% endblock body %}
